<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>

    <link rel="stylesheet" href="./jstyle.css">

</head>

<body>

<section>
    <div class="container">
        <div class="first-row">
            <div class="first-section h-line">
                <div class="first-cart cart">
                <div class="first-thumnail cart">
                    <h4>Thumbnail</h4>
                </div>
                <div class="para cart">
                    <p>This is a wider card with supporting text below as a natural lead in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="button">
                    <button>View</button>
                    <button>Back</button>
                </div>
            </div>
            </div>

            <!-- 2nd -->
            <div class="second-section h-line">
                <div class="first-cart cart">
                <div class="first-thumnail cart">
                    <h4>Thumbnail</h4>
                </div>
                <div class="para cart">
                    <p>This is a wider card with supporting text below as a natural lead in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="button">
                    <button>View</button>
                    <button>Back</button>
                </div>
            </div>
            </div>

            <!-- 3rd -->

            <div class="third-section h-line">
                <div class="first-cart cart">
                <div class="first-thumnail cart">
                    <h4>Thumbnail</h4>
                </div>
                <div class="para cart">
                    <p>This is a wider card with supporting text below as a natural lead in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="button">
                    <button>View</button>
                    <button>Back</button>
                </div>
            </div>
            </div>
        </div>
<!-- 
        2 row -->
        <div class="second-row">
            <div class="first-section h-line">
                <div class="first-cart cart">
                <div class="first-thumnail cart">
                    <h4>Thumbnail</h4>
                </div>
                <div class="para cart">
                    <p>This is a wider card with supporting text below as a natural lead in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="button">
                    <button>View</button>
                    <button>Back</button>
                </div>
            </div>
            </div>

            <!-- 2 row ii -->

            <div class="second-section h-line">
                <div class="first-cart cart">
                <div class="first-thumnail cart">
                    <h4>Thumbnail</h4>
                </div>
                <div class="para cart">
                    <p>This is a wider card with supporting text below as a natural lead in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="button">
                    <button>View</button>
                    <button>Back</button>
                </div>
            </div>
            </div>

            <!-- 2 row iii -->
            <div class="third-section h-line">
                <div class="first-cart cart">
                <div class="first-thumnail cart">
                    <h4>Thumbnail</h4>
                </div>
                <div class="para cart">
                    <p>This is a wider card with supporting text below as a natural lead in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="button">
                    <button>View</button>
                    <button>Back</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>